{% extends "base.html" %}
{% block page_content %}

<style>
   
    #sign_up {
        padding: 2em;
    }
    form {
        width: 80%;
        margin: 0 auto 1em auto;

    }
    .form-container {
    }
    h3 {
        margin: 1em auto 0.5em auto;
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.4em;
    }
    h4 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.4em;
    }
    .form-row {
        box-shadow: 1px 1px 5px #ccc;
        border-radius: 30px;
        border: 1px solid var(--sign-in-box-border-color);
        background-color: var(--sign-in-box-bg-color);
    }
    .btn {
        width: 100%;
    }
    .col-md-4 {
        padding: 0 1em 0.5em 1em !important;
    }
</style>
<script>
    $(document).ready(function (){
        $("#countries").change(function() {
            var val = $(this).val();
            $("#region").children().remove();
            if (val == "United_States") {
                $("#region").append("<option value='California'> California </option>");
                $("#region").append("<option value='Midwest'> Midwest </option>");
            } else {
                $("#region").append("<option value='Amazon Rainforest'> Amazon Rainforest </option>");
                $("#region").append("<option value='East Coast'> East Coast </option>")
            }
        });
    });
</script>
<div id="sign_up" class="container">
    <div class="row form-row">
        <form action="/" method="post">
            {% csrf_token %}
            <h3> Create Organization </h3>
            <div class="form-container">
                <div class="form-group">
                    <label for="org_name"> Name </label>
                    <input class="form-control"type="text" name="org_name" placeholder="Company, LLC" required="true">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="org_email"> Email </label>
                            <input type="text" class="form-control bfh-phone" name="org_email" required="true">   
                        </div>
                        <div class="col-md-6">
                            <label for="org_phone_num"> Phone Number </label>
                            <input type="text" class="form-control bfh-phone" name="org_phone_number">   
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="org_country"> Country </label>
                            <select id="countries" class="form-control">
                                <option value="United_States"> United States</option>
                                <option value="Brazil">Brazil</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="org_region"> Region </label>
                            <select id="region" class="form-control">
                                <option value="California"> California </option>
                                <option value="Midwest"> Midwest </option>
                            </select>
                        </div>
                    </div>
                </div>
                <h4> Initial Admin Setup </h3>
                <div class="form-group">
                    <label for="admin_email"> Admin Email </label>
                    <input type="text" id="admin_email" class="form-control" placeholder="username@domain.com" required="true"></input>
                </div>
                <div class="form-group">
                    <label for="admin_password"> Admin Password </label>
                    <input type="password" id="password" class="form-control" required="true"></input>
                </div>
                <div class="form-group">
                    <label for="admin_password"> Admin Password Confirmation </label>
                    <input type="password" id="password_confirmation" class="form-control" required="true"></input>
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Create Organization">
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}