{% extends "base.html" %}
{% block page_content %}

<style>
    #sign_up {
        padding: 2em;
    }
    form {
        width: 80%;
        margin: 0 auto 1em auto;

    }
    .form-container {
    }
    h3 {
        margin: 1em auto 0.5em auto;
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.4em;
    }
    h4 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.4em;
    }
    .form-row {
        box-shadow: 1px 1px 5px #ccc;
        border-radius: 30px;
        border: 1px solid var(--sign-in-box-border-color);
        background-color: var(--sign-in-box-bg-color);
    }
    .btn {
        width: 100%;
    }
    .col-md-4 {
        padding: 0 1em 0.5em 1em !important;
    }
</style>
<script>
    $(document).ready(function (){
        $("#countries").change(function() {
            var val = $(this).val();
            $("#region").children().remove();
            if (val == "US") {
                $("#region").append("<option value='California'> California </option>");
                $("#region").append("<option value='Midwest'> Midwest </option>");
            } else {
                $("#region").append("<option value='Amazon Rainforest'> Amazon Rainforest </option>");
                $("#region").append("<option value='East Coast'> East Coast </option>")
            }
        });
    });
</script>
<div id="sign_up" class="container">
    <div class="row form-row">
        <form action="/organization" method="post">
            {% csrf_token %}
            <h3> Create Organization </h3>
            <div class="form-container">
                <div class="form-group">
                    {{ form.org_name.label_tag }}
                    {{ form.org_name }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.org_email.label_tag }}
                            {{ form.org_email }}
                        </div>
                        <div class="col-md-6">
                            {{ form.org_phone_num.label_tag }}
                            {{ form.org_phone_num }} 
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.org_country.label_tag }}
                            {{ form.org_country }}
                        </div>
                        <div class="col-md-6">
                            {{ form.org_region.label_tag }}
                            {{ form.org_region }}
                        </div>
                    </div>
                </div>
                <h4> Initial Admin Setup </h3>
                <div class="form-group">
                    {{ form.admin_email.label_tag }}
                    {{ form.admin_email }}
                </div>
                <div class="form-group">
                    {{ form.admin_password.label_tag }}
                    {{ form.admin_password }}
                </div>
                <div class="form-group">
                    {{ form.admin_password_confirmation.label_tag }}
                    {{ form.admin_password_confirmation }}
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Create Organization">
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}