{% extends "sign_in_base.html" %}

{% block page_content %}
<div class="details">
    <h4> {{ org.name }} </h4>
    <h5> Admins </h5>
    <table class="table admins table-striped table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                {% if is_admin %}
                    <th scope="col">Actions</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for admin in admins %}
                <tr>
                    <th scope="col"> {{ admin.first_name }} </th>
                    <th scope="col"> {{ admin.last_name }} </th>
                    <th scope="col"> {{ admin.email }} </th>
                    {% if is_admin %}
                        <th scope="col">
                            <button class="btn btn-sm btn-warning"> Edit </button>
                            <button class="btn btn-sm btn-danger"> Delete </button>
                        </th>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h5> Normal Users </h5>
    <table class="table admins table-striped table-hover table-dark">
        <thead class>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                {% if is_admin %}
                    <th scope="col">Actions</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="col"> {{ user.first_name }} </th>
                    <th scope="col"> {{ user.last_name }} </th>
                    <th scope="col"> {{ user.email }} </th>

                    {% if is_admin %}
                        <th scope="col">
                            <button class="btn btn-xs btn-primary"> Make Admin </button>
                            <button class="btn btn-xs btn-warning"> Edit </button>
                            <button class="btn btn-xs btn-danger"> Delete </button>
                        </th>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_admin %}
        <form action="/organization/create_admin" method="post" class="admin-form">
            {% csrf_token %}
             <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                    <div class="col-md-6">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <div class="col-md-6">
                        {{ form.admin_select.label_tag }}
                        {{ form.admin_select }}
                    </div>
                </div>
                
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="form-group">
                {{ form.password_confirmation.label_tag }}
                {{ form.password_confirmation }}
            </div>
            <div class="form-group">
                <input type="hidden" name="org_id" value="{{ org.id }}">
            </div>
            <div class="form-group">
                <input type="hidden" name="next" value="{{ request.path }}">
                <input class="btn btn-success" type="submit" value="Create Admin">
                <button class="btn btn-danger hide-admin-form"> Cancel </button>
            </div>
        </form>
        <div class="admin-action">
            <button class="btn btn-primary show-admin-form"> Add User </button>
        </div>
        <br></br>
    {% endif%}
</div>
<script>
    $(document).ready(function (){
        $(".show-admin-form").click(function() {
            $(this).hide();
            $(".admin-form").show();
        });

        $(".hide-admin-form").click(function() {
            $(".admin-form").hide();
            $(".admin-form")[0].reset()
            $(".show-admin-form").show()
        });
    });
</script>
<style>
    .details {
        width: 80%;
        margin: 2em auto;
        padding: 1em 2em;
        border-radius: 30px;
        border: 1px solid var(--sign-in-box-border-color);
        background-color: var(--sign-in-box-bg-color);
        color: #000;
        font-weight: bold;
        box-shadow: 1px 1px 5px #ccc;
    }
    form {
        display: none;
    }
    .admin-action {
        text-align: right;
    }
    h4 {
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ccc;
    }
    table {
        border-radius: 15px;
    }
</style>
{% endblock %}