{% extends "base.html" %}

{% block page_content %}
<div id="camera-view">
    <br></br>
    <h4> {{ org.name }} </h4>
    <div class="camera-list d-flex flex-row bd-highlight mb-3 justify-content-start flex-wrap">
        {% for camera in cameras%}
            <div class="p-3 {% if camera.is_on_fire %} onfire {% endif %}">
                <div class="img-container">
                    <img data-camera-id="{{camera.cid}}" class="camera-img" src="{{camera.image_path}}"> </img>
                </div>
                <h5> 
                    <a href="/camera/{{camera.cid}}"> {{camera.short_name }} </a>   
                </h5>
                {% if camera.is_on_fire %}
                    <p class="fire-text"> On Fire! </p>
                {% else %}
                    <p class="nofire-text"> No Fire! </p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<script>
</script>
<style>
    #camera-view {
        width: 80%;
        margin: 0 auto;
    }
    .img-container img {
        width: 250px;
        height: 250px;
    }
    .p-3 {
        border: 1px dashed #cfcfcf; 
        margin: 0.25em;
    }
    
    .fire-text {
        color: #bd0016;
        font-weight: bold;
    }
    .onfire {
        border: 2px solid #bd0016;
    }
    .nofire-text {
        color: #168200; 
    }
    h5 a {
        color: #006ea6 !important;
    }
    h5 a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}