{% extends "base.html" %}

{% block page_content %}
<div class="profile">
    <h4> {{request.user.first_name}}'s Profile </h4 >
    <form action="/organization/{{org.id}}/profile/{{user.id}}/update_user" method="post" class="admin-form">
        {% csrf_token %}
            <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="col-md-6">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <div class="form-group">
            {{ form.password_confirmation.label_tag }}
            {{ form.password_confirmation }}
        </div>
        <div class="form-group">
            <input type="hidden" name="org_id" value="{{ org.id }}">
        </div>
        <div class="form-group">
            <input type="hidden" name="next" value="{{ request.path }}">
            <input class="btn btn-warning" type="submit" value="Edit">
        </div>
    </form>
</div>
<style>
    .profile {
        width: 80%;
        margin: 1em auto;
        padding: 1.5em;
        border-radius: 30px;
        border: 1px solid var(--sign-in-box-border-color);
        background-color: var(--sign-in-box-bg-color);
        box-shadow: 1px 1px 5px #ccc;

    }
    h4 {
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ccc;
    }
</style>
{% endblock %}